body{
    margin: 0;
    padding: 0;
    background-image: url('../images/login_b.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.login-text{
    text-align: center;
}
.login-form {
    max-width:360px;

    margin:60px auto;
    padding:20px;
    border-radius: 2px;
    border:1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: rgba(256,256,256,0.3);
}
.login-form label{
    display:block;
    margin: 30px auto;
}
.login-form span{
    display: block;
    margin-bottom: 6px;
}
.login-form input{
    padding: 8px 6px;
    font-size: 1em;
    color:#777;


    width: 90%;
}
@media only screen and (max-width: 640px) {
   

    .login-form{
    
        max-width:60%;
        margin:45px auto;
        padding:15px;
        border:1px solid #ddd;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
        background: rgba(256,256,256,0.3);
    }
    .login-form label{
    
        margin:10px auto;
    }
    
    .login-form input{
        padding: 4px 3px;
        font-size: 1em;
        color:#777;
        width:90%;
    }
    }