<!DOCTYPE html>
<html>
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Factech farm</title>
      <meta name="keywords" content="">
      <meta name="description" content=""> 
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
      <!-- font css -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,800;1,400&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   </head>
   <body>
      <div class="header_section">
         <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="navbar-brand"href="/"><h1>Factech Farm</h1></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                     </li>
                    
                     <li class="nav-item">
                        <a class="nav-link" href="/detect">Disease</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/potato">yeild</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/recomend">Recomendation</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/register">Sign-up</a>
                     </li>
                     </li>
                  </ul>
               </div>
            </nav>
         </div>
      </div>
      
      <!-- layout_border start -->
      <div class="container-fluid">
         <div class="layout_border">
            <!-- banner section start --> 
            <div class="banner_section layout_padding">
               <div class="container-fluid">
                  <div id="main_slider" class="carousel slide" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="row">
                              <div class="col-sm-6">
                                 <div class="banner_taital_main">
                                    <h1 class="banner_taital">Crop Yeild prediction</h1>
                                    <p class="banner_text">Factech Farm is one stop  solution to predict yield of crop at any location in India . We are providing data of every state and their corresponding district</p>
                                    <div class="btn_main">
                                       <div class="started_text"><a href="#developer">predict</a></div> 
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <!-- <div class="banner_img"><img src="images/banner-img.png"></div> -->
                                 <script>
                                    (function(d, s, id) {
                                        if (d.getElementById(id)) {
                                            if (window.__TOMORROW__) {
                                                window.__TOMORROW__.renderWidget();
                                            }
                                            return;
                                        }
                                        const fjs = d.getElementsByTagName(s)[0];
                                        const js = d.createElement(s);
                                        js.id = id;
                                        js.src = "https://www.tomorrow.io/v1/widget/sdk/sdk.bundle.min.js";
                            
                                        fjs.parentNode.insertBefore(js, fjs);
                                    })(document, 'script', 'tomorrow-sdk');
                                    </script>
                                    <li class="nav-item">
                                    <div class="tomorrow"
                                       data-location-id=""
                                       data-language="EN"
                                       data-unit-system="METRIC"
                                       data-skin="light"
                                       data-widget-type="summary"
                                       style="padding-top:32px;position:relative;"
                                    >
                                      <a
                                        href="https://www.tomorrow.io/weather-api/"
                                        rel="nofollow noopener noreferrer"
                                        target="_blank"
                                        style="position: absolute; bottom: 0; transform: translateX(-50%); left: 50%;"
                                      >
                                        <!-- <img
                                          alt="Powered by the Tomorrow.io Weather API"
                                          src="https://weather-website-client.tomorrow.io/img/powered-by.svg"
                                          width="25"
                                          height="18"
                                        /> -->
                                      </a>
                                    </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row"> 
                              <div class="col-sm-6">
                                 <div class="banner_taital_main">
                                    <h1 class="banner_taital">Crop Disease Detection</h1>
                                    <p class="banner_text">Just upload Photo of your Crop and we will detect the disease that is affecting your crop</p>
                                    <div class="btn_main">
                                       <div class="started_text"><a href="/detect">detect</a></div>
                                       <!-- <div class="started_text active"><a href="#">Contact Us</a></div> -->
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="banner_img"><img src="static/images/banner-img.png"></div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-sm-6">
                                 <div class="banner_taital_main">
                                    <h1 class="banner_taital">Crop  prediction</h1>
                                    <p class="banner_text">You can Now predict , which crop is suitable for Your soil using NPK data of your soil type</p>
                                    <div class="btn_main">
                                       <div class="started_text"><a href="/recomend">Predict</a></div>
                                       <!-- <div class="started_text active"><a href="#">Contact Us</a></div> -->
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-6">
                                 <div class="container">
                                    <script>
                                       (function(d, s, id) {
                                           if (d.getElementById(id)) {
                                               if (window.__TOMORROW__) {
                                                   window.__TOMORROW__.renderWidget();
                                               }
                                               return;
                                           }
                                           const fjs = d.getElementsByTagName(s)[0];
                                           const js = d.createElement(s);
                                           js.id = id;
                                           js.src = "https://www.tomorrow.io/v1/widget/sdk/sdk.bundle.min.js";
                               
                                           fjs.parentNode.insertBefore(js, fjs);
                                       })(document, 'script', 'tomorrow-sdk');
                                       </script>
                                    
                                       <div class="tomorrow"
                                          data-location-id=""
                                          data-language="EN"
                                          data-unit-system="METRIC"
                                          data-skin="light"
                                          data-widget-type="summary"
                                          style="padding-top:32px;position:relative;"
                                       >
                                         <a
                                           href="https://www.tomorrow.io/weather-api/"
                                           rel="nofollow noopener noreferrer"
                                           target="_blank"
                                           style="position: absolute; bottom: 0; transform: translateX(-50%); left: 50%;"
                                         >
                                           <!-- <img
                                             alt="Powered by the Tomorrow.io Weather API"
                                             src="https://weather-website-client.tomorrow.io/img/powered-by.svg"
                                             width="25"
                                             height="18"
                                           /> -->
                                         </a>
                                       </div>
                                 <!---------------  SCRIPT  --------------------->
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                     <img src="images/arrow-left.png">
                     </a>
                     <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                     <img src="images/arrow-right.png">
                     </a>
                  </div>
               </div>
            </div>
            <!-- banner section end -->
            <!-- about section start -->
            <section id="abt">
            <div class="about_section layout_padding">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <h1 class="about_taital">About Us</h1>
                        <p class="about_text">  </p>
                     </div>
                  </div>
                  <div class="about_section_2">
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="about_img"><img src="static\images\aboutus.jpg"></div>
                     </div>
                     <div class="col-md-6">
                        <div class="fresh_taital">Instant Solution</div>
                        <p class="ipsum_text">Empower your agricultural endeavors with cutting-edge Machine Learning solutions. Our platform offers accurate crop yield predictions, helping farmers optimize harvests and plan efficiently. Additionally, leverage our advanced disease detection technology to identify and mitigate crop diseases swiftly, ensuring healthier yields and increased productivity. Revolutionize your farming practices with our AI-driven tools tailored for precision agriculture</p>
                        <div class="read_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
            <!-- about section end -->
           <!-- crop covered under crop prediction category -->
           <section id="vege">
            <div class="vagetables_section layout_padding">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="vagetables_taital">Crop List</h1>
                        <p class="vagetables_text">Passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                     </div>
                  </div>
                  <div class="courses_section_2">
                     <div class="row">
                        <div class="col-md-4">
                           <div class="hover01 column">
                              <figure><img src="static\images\potato.jpeg"></figure>
                           </div>
                           <h3 class="harshal_text">Potato</h3>
                           <!-- <h3 class="rate_text">$19</h3> -->
                           <div class="read_bt_1"><a href="/potato">predict</a></div>
                        </div>
                        <div class="col-md-4">
                           <div class="hover01 column">
                              <figure><img src="static\images\arhaar.jpeg"></figure>
                           </div>
                           <h3 class="harshal_text">Pigeon Pea</h3>
                           <!-- <h3 class="rate_text">$19</h3> -->
                           <div class="read_bt_1"><a href="/pigeon">predict</a></div>
                        </div>
                        <div class="col-md-4">
                           <div class="hover01 column">
                              <figure><img src="static\images\onion.jpeg"></figure>
                           </div>
                           <h3 class="harshal_text">onion</h3>
                           <!-- <h3 class="rate_text">$19</h3> -->
                           <div class="read_bt_1"><a href="/potato">predict</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="vagetables_section_2">
                     <div class="row">
                        <div class="col-md-4">
                           <div class="hover01 column">
                              <figure><img src="static\images\maize.jpeg"></figure>
                           </div>
                           <h3 class="harshal_text">maize</h3>
                           <!-- <h3 class="rate_text">$19</h3> -->
                           <div class="read_bt_1"><a href="#">Comming Soon</a></div>
                        </div>
                        <div class="col-md-4">
                           <div class="hover01 column">
                              <figure><img src="static\images\Wheat.jpeg"></figure>
                           </div>
                           <h3 class="harshal_text">Wheat</h3>
                           <!-- <h3 class="rate_text">$19</h3> -->   
                           <div class="read_bt_1"><a href="#">Comming Soon</a></div>
                        </div>
                        <div class="col-md-4">
                           <div class="hover01 column">
                              <figure><img src="static\images\tomato.jpeg"></figure>
                           </div>
                           <h3 class="harshal_text">Tomato</h3>
                           <!-- <h3 class="rate_text">$19</h3> -->
                           <div class="read_bt_1"><a href="#">Comming Soon</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
           
            <section id="developer">
            <div class="testimonial_section layout_padding">
               <div class="container">
                 
                  <div class="row">
                     <div class="col-md-12">
                        <h1 class="testimonial_taital">Developers</h1>
                     </div>
                  </div>
                  <div class="testimonial_section_2">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="testimonial_box">
                              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                 <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                 </ol>
                                 <div class="carousel-inner">
                                    <div class="carousel-item active">
                                       <p class="testimonial_text">Greetings! I'm Ankit Kumar, an aspiring technophile currently pursuing my BTech degree at the esteemed NIT jalandhar .</p>
                                       <div class="social-icon">
                                          <ul>
                                       <li><a href="https://www.linkedin.com/in/ankit-kumar-41023b218/" class="fa fa-linkedin"></a> </li>
                                       <li><a href="#" class="fa fa-pinterest"></a></li>
                                      
                                    </ul>
                                    </div>
                                    </div>
                                    <div class="carousel-item">
                                       <p class="testimonial_text">Greetings! I'm Ayush Rathore, an aspiring technophile currently pursuing my BTech degree at the esteemed NIT jalandhar .</p>
                                       <div class="social-icon">
                                          <ul>
                                       <li><a href="#" class="fa fa-linkedin"></a> </li>
                                       <li><a href="#" class="fa fa-pinterest"></a></li>
                                      
                                    </ul>
                                    </div>
                                    </div>
                                    <div class="carousel-item">
                                       <p class="testimonial_text">Greetings! I'm Ankit Kumar, an aspiring technophile currently pursuing my BTech degree at the esteemed NIT jalandhar .</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="client_main">
                              <div class="client_left">
                                 <div class="client_img"><img src="static\images\Ankit.jpeg"></div>
                              </div>
                              <div class="client_right">
                                 <h4 class="client_name">Ankit Kumar</h4>
                                 <p class="customer_text">developer</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
            <!-- testimonial section end -->
            <!-- layout_border end -->
         </div>
      </div>
      
      <div class="social_icon">
         <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         </ul>
      </div>
      <section id="fot">
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2024 Team Factech Farm  || HackOHolics</a></p>
         </div>
      </div>
   </section>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <!-- <script src="script.js"></script> -->
      <!--Start of Tawk.to Script-->
<script type="text/javascript">
   var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
   (function(){
   var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
   s1.async=true;
   s1.src='https://embed.tawk.to/660fdb1ca0c6737bd128a033/1hqmuvrak';
   s1.charset='UTF-8';
   s1.setAttribute('crossorigin','*');
   s0.parentNode.insertBefore(s1,s0);
   })();
   </script>
   <!--End of Tawk.to Script-->
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/popper.min.js"></script>
      <script src="static/js/bootstrap.bundle.min.js"></script>
      <script src="static/js/jquery-3.0.0.min.js"></script>
      <script src="static/js/plugin.js"></script>
   </body>
</html>